.artist-profile-title{
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.artist-profile-top-releases-title {
  margin-bottom: 30px;
}

.artist-profile-top-releases-song-img {
  width: 55px;
  border-radius: 3px;
}

.artist-profile-top-releases-song-name {
  color: white;
  font-size: 14px;
  
}

.artist-profile-top-releases-song-listeners,
.artist-profile-top-releases-song-duration {
  color: #ccd0cf;
  font-size: 14px;
  
}

.artist-profile-top-releases-song-more-icon {
  width: 16px;
}

.artist-profile-top-releases-song-more-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.artist-profile-top-releases-songs-details-box {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 50px 30px;
  width: 600px;
  align-items: center;
  column-gap: 35px;
  row-gap: 20px;
  margin-top: 20px;
}

.artist-profile-top-releases-expand-button {
  background-color: transparent;
  border: none;
  color: #ccd0cf;
  text-decoration: underline;
  padding: 0;
}

.artist-profile-top-releases-box {
  
}

.artist-profile-top-releases-songs-box {
  margin-left: 28px;
}

.artist-profile-discography-album-img-box{
  position: relative;
}

.artist-profile-discography-album-img {
  width: 120px;
  border-radius: 8px;
}

.artist-profile-discography-album-vinyl-img{
  width: 120px;
  position: absolute;
  left: 60px;
  transform: rotate(35deg);
  z-index: -1;
}

.artist-profile-discography-album-name {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.artist-profile-discography-album-details {
  color: #ccd0cf;
  font-size: 12px;
}

.artist-profile-discography-album-details-box{
  margin-left: 80px;
}

.artist-profile-discography-album-display-box {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.artist-profile-discography-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
}

.artist-profile-discography-title {
  margin-bottom: 20px;
}

.artist-profile-discography-title, .artist-profile-alike-artist-title{
  margin-bottom: 20px;
}

.artist-profile-alike-artist-img {
  width: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.artist-profile-alike-artist-name {
  color: #ccd0cf;
  font-size: 14px;
  align-self: center;
}

.artist-profile-alike-artist-display-box {
  display: flex;
  flex-direction: column;
}

.artist-profile-alike-artist-flexbox {
  display: flex;
  justify-content: space-between;
}

.artist-profile-alike-artist-title {
  margin-bottom: 28px;
}

.artist-profile-alike-artist-box {
  margin-top: 80px;
}

.artist-profile-middle-box{
  display: flex;
  justify-content: space-between;
}

.content-box{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 60px; /* remove this if u are going to apply flexbox - space-around */
}

.artist-profile-about-artist-container{
  height: 87%;
  width: 400px;
  background-color: #ccd0cf;
  opacity: 0.8;
  border-radius: 10px;
  position: relative;
  margin-top: 20px;
}

.artist-page-about-artist-background-img{
  width: 230px;
  position: absolute;
  left: 90px;
  bottom: 150px;
}

.artist-profile-about-artist-content{
  width: 100%;
  height: 70%; /*remove this later*/
  background-color: #0e1111;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

.artist-page-about-artist-icon{
  width: 50px;
  position: absolute;
  right: 15px;
  top: 55px;
  border: 2px solid #0e1111;
  border-radius: 35px;
}

.artist-page-about-artist-listeners{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 90px;
  left: 15px;
}

.artist-profile-about-artist-description{
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 14px;
  width: 85%;
  text-align: justify;
}

.artist-page-about-artist-ig-icon, .artist-page-about-artist-x-icon{
  width: 40px;
}

.artist-page-about-artist-ig-icon{
  margin-right: 8px;
}

.artist-profile-about-artist-icon-box{
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.artist-profile-about-artist-grp-details-box{
  position: absolute;
  bottom: 15px;
  left: 30px;
}

.artist-profile-about-artist-grp-details-title{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.artist-profile-about-artist-words{
  font-size: 12px;
  color: #ccd0cf;
  margin-bottom: 5px;
}

.artist-profile-discography-collaboration-album-box{
  justify-self: flex-end;
}

.artist-profile-discography-favourite-album-box{
  justify-self: center;
}