.content-part{
    background-color: #232323;
    border-radius: 8px;
    position: fixed;
    width: 84%;
    right: 10px;
    top: 63px;
    bottom: 84px;
    overflow: scroll;
    overflow-x: hidden;
}