.header-logo{
    width: 40px;
    vertical-align: middle;
}

.header-logo-name{
    display: inline;
    color: #ccd0cf;
    font-size: 14px;
    font-weight: bold;
    margin-left: 8px;
}

.header-search-icon{
    width: 22px;
    vertical-align: middle;
    
}

.header-search-displayed-words{
    color: #ccd0cf;
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}

.header-search-bar-container{
    background-color: #232b2b;
    padding: 10px 10px 10px 10px;
    border-radius: 25px;
    flex-grow: 1;
    margin-right: 10px;
}

.header-search-bar-idea-icon{
    width: 22px;
    background-color: #232b2b;
    padding: 10px;
    border-radius: 50px;
}

.header-search-bar-section{
    display: flex;
    width: 450px;
    align-items: center;
}

.header-username{
    color: #ccd0cf;
    font-size: 14px;
    margin-right: 6px;
    font-weight: bold;
}

.header-user-profile-logo{
    width: 40px;
}

.header-user-profile-bpx{
    position: relative;
}

.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 5px;
    left: 0;
    height: 63px;
    background-color: #0e1111;
    
}

.header-logo-section{
    margin-left: 8px;
}

.header-user-section{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header-user-profile-online{
    width: 38px;
    position: absolute;
    bottom: 0;
    right: -5px;
}