.library-playlist-display-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.library-playlist-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.library-playlist-name{
    color: white;
    font-size: 16px;
    margin-bottom: 3px;
}

.library-playlist-info{
    color: #ccd0cf;
    font-size: 12px;
}

.library-artist-profile-image{
    border-radius: 3px;
}

.library-items-box{
    /* height: 365px; */
    overflow: scroll;
}

.library-items-box::-webkit-scrollbar{
    display: none;
}

.library-title-box, .library-sort-search-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.library-title-add-icon, .library-search-icon{
    width: 16px;
    margin-left: 5px;
}

.library-title{
    font-size: 20px;
    color: white;
    font-weight: bold;
    flex-grow: 1;
}

.library-sort{
    font-size: 11px;
    color: #ccd0cf;
    flex-grow: 1;
}

hr{
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid #ccd0cf;
}

.library-box{ 
    width: 13%;
    background-color: #232b2b;
    padding: 12px 12px 15px 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 63px;
    bottom: 84px;
}

.library-playlist-image{
    width: 60px;
}

.current-enlarged-playing-song-image{
    transform: rotate(40deg);
    height: 100%;
    width: 100%;
}

.current-enlarged-playing-song-box{
    margin-top: 10px;
    position: relative;
}

.current-playing-collapse-img{
    width: 20px;
    transform: rotate(90deg);
}

.current-playing-collapse-box{
    position: absolute;
    top: 0;
    right: 0;
}
